h1{
    text-align: center;
}
.mealList{
    justify-items: center;
    display: grid;
    gap: 30px;
    margin: auto;
    padding: 5px 60px;
    
}
.mealContent{
    text-align: center;
    padding: 10px;
    border-style: outset;
    border-radius: 10px;
    background-color: rgb(250, 244, 232);
    
}
li{
    list-style: none;
    margin-left: -40px;
}
img{
    border-radius: 10px;
    margin-top: 20px;
    height: 140px;
}
button{
    background-color: green;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
}
a{
    color: white;
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    .mealList{
        grid-template-columns: 1fr 1fr;
        
    }

}
@media screen and (min-width: 1024px){
    .mealList{
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media screen and (min-width: 1440px){
    .mealList{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 2560px){
    .mealList{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
    

    